<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="content-security-policy" content="">
		<link rel="modulepreload" href="../_app/immutable/start-a7e57cbe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-b83fbcf2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons-b427f529.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-66d99848.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper-41c905a7.js">
	</head>
	<style type="text/css">
		html,
		body {
			margin: 0;
			padding: 0;
			min-height: 100vh;
			/* mobile viewport bug fix */
			min-height: -webkit-fill-available;
		}

		html {
			height: -webkit-fill-available;
		}
	</style>
	<body>
		<div>
		<script type="module" data-sveltekit-hydrate="45h">
			import { start } from "../_app/immutable/start-a7e57cbe.js";

			start({
				env: {},
				paths: {"base":"","assets":""},
				target: document.querySelector('[data-sveltekit-hydrate="45h"]').parentNode,
				version: "1671533224197"
			});
		</script></div>
	</body>
</html>
