<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="content-security-policy" content="">
		<link rel="modulepreload" href="../_app/immutable/start-3af8eb27.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-0b97aef3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons-d0e2278b.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-ae2d52ba.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper-9b728935.js">
	</head>
	<style type="text/css">
		html,
		body {
			margin: 0;
			padding: 0;
			min-height: 100vh;
			/* mobile viewport bug fix */
			min-height: -webkit-fill-available;
		}

		html {
			height: -webkit-fill-available;
		}
	</style>
	<body>
		<div>
		<script type="module" data-sveltekit-hydrate="45h">
			import { start } from "../_app/immutable/start-3af8eb27.js";

			start({
				env: {},
				hydrate: null,
				paths: {"base":"","assets":""},
				target: document.querySelector('[data-sveltekit-hydrate="45h"]').parentNode,
				version: "1670169908925"
			});
		</script></div>
	</body>
</html>
