# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    branches:
      - main
  pull_request:

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4.1.0
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: pnpm

      - name: install dependencies
        run: pnpm install --frozen-lockfile
      - name: lint packages & sites
        run: pnpm lint
      - name: format packages & sites
        run: pnpm format
      - name: build packages & sites
        run: pnpm build
